@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

header {
  color: white;
  display: flex;
  align-items: center;
  font-family: 'Staatliches', cursive;
  font-size: larger;
  padding: 1em 5em;;
}

img {
  width: 10em;
  border-radius: 50px;
}