table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%
}

td, th {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}