body {
  background: url('https://i.pinimg.com/originals/45/de/ef/45deefebd427f5e7ea98f1e7766c2540.jpg');
}

.header {
  color: rgb(19, 18, 18);
  padding: 50px;
  text-align: center;
}

th {
  border-bottom: 2px solid rgb(209, 209, 4);
}

td {
  background-color: rgb(37, 37, 37);
  border-bottom: 2px solid rgb(209, 209, 4);
  border-right: 2px solid rgb(209, 209, 4);
  color: rgb(209, 209, 4);
  text-align: center;
}

.input {
  color: rgb(179, 179, 5);
  margin: 0 20px;
  text-align: center;
}

option {
  cursor: pointer;
}
