* {
  margin: 0;
  padding: 0;
  text-align: center;
}

@font-face {
  font-family: 'Star Jedi';
  src: url(fonts/Starjedi.ttf);
}

body {
  background-color: black;
  color: #FFC857;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  font-family: 'Star Jedi';
}

.header {
  text-align: center;
}

table, th, td {
  border: 3px solid #ffecc5;
  border-radius: 3px;
  text-align: center;
}

th, td {
  padding: 5px;
}

table {
  margin: 5px;
}

form {
  margin: 10px;
}
