@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap') ;

body {
  background-color: #e4e4e4;
  font-family: Dongle , sans-serif;
  font-size: 23px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro , Menlo , Monaco , Consolas , Courier New , monospace;
}

.app {
  display: flex;
  flex-flow: column wrap;
}

.form-container {
  align-items: center;
  background-color: rgb(25, 16, 51);
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

input, select, textarea, button {
  border-radius: 9px;
  padding: 10px;
}

