.header {
  background: url(https://i.imgur.com/59SyQyl.jpeg);
  display: flex;
  flex-direction: column;
  height: 35vh;
  justify-content: space-evenly;
  padding: 1rem;
}

.table {
  font-size: 13px;
  margin-bottom: 0;
}

.search-and-title {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
}

.search-and-title input {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 10px;
  width: 35rem;
}

.filter-numeric-form {
  display: flex;
}
