body {
  background-color: black;
  color: whitesmoke;
}

.header {
  text-align: center;
}

table, th, td {
  border: 2px solid whitesmoke;
  border-radius: 3px;
  text-align: center;
}

table {
  margin: 5px;
}

form {
  margin: 5px;
}
